
.section
	.heading
		= "New Phone Call on #{@debt.name} (#{@debt.description})"
.form.new_phone_call
	.form_container
		= semantic_form_for [@debt, @phone_call] do |f|
			.fields_container
				= f.inputs do
					= f.input :event_date, :as => :date
					= f.input :name
					= f.input :phone_number
					= f.input :summary
					= f.input :content
			.buttons_container
				= f.buttons
