
.section
	.heading
		= "New Debt"
.form.new_debt
	.form_container
		= semantic_form_for @debt do |f|
			.fields_container
				= f.inputs do
					= f.input :service_date, :as => :date
					= f.input :name
					= f.input :description
			.buttons_container
				= f.buttons
