= render :partial => 'project_permissions_tabs', :locals => { :user => user }

.user_perms
	- if @project
		- user.roles.all_for_project(@project).each do |role|
			%h3= role.name
			- role.permissions.each do |perm|
				.row
					= link_to '(X)', revoke_permission_role_url(role, :permission_id => perm.id), :method => :post
					= "#{user.first_name} #{perm.long_description}"
			- if permitted?(:grant, Permission)
				.link
					= link_to "Grant Permission for #{role.name} Role", grant_role_url(role)
			- if permitted?(:unassign_project_role, user)
				.link
					= link_to "Revoke #{role.name} Role", do_remove_project_role_user_url(user, :role_id => role.id, :project_id => @project.id), :method => :post
			%hr
		%br
		= link_to "Assign Project Role", assign_project_role_project_user_url(@project, user)
	- else
		- user.roles.global.each do |role|
			%h3= role.name
			- role.permissions.each do |perm|
				.row
					= link_to '(X)', revoke_permission_role_url(role, :permission_id => perm.id), :method => :post
					= "#{user.first_name} #{perm.long_description}"
			- if permitted?(:grant, Permission)
				.link
					= link_to "Grant Permission for #{role.name} Role", grant_role_url(role)
			- if permitted?(:unassign_role, user)
				.link
					= link_to "Revoke #{role.name} Role", do_remove_role_user_url(user, :role_id => role.id), :method => :post
			%hr
		- if permitted?(:assign_role, user)
			.link
				= link_to "Assign Global Role", assign_role_user_url(user)
		- if permitted?(:assign_project_role, user)
			.link
				= link_to "Assign Project Role", assign_project_role_user_url(user)
