.columns
	.column.user_list
		.user_list
			.row
				.field.company= "None"
				.field.users
					- User.all.select { |u| u.company.nil? }.each do |user|
						.row
							.field.user{:'data-value' => user.id}= user.full_name
			- Company.order("name asc").select { |c| c.users.count > 0 }.each do |company|
				.row
					.field.company
						= best_in_place company, :name
					.field.users
						- company.users.each do |user|
							.row
								.field.user{:'data-value' => user.id}= user.full_name
			- Company.all.select { |c| c.users.count == 0 }.each do |company|
				.row
					.field.company
						= best_in_place company, :name
			.row
				.field.company.new
					= "New Company"
					#new_form{:style => 'display: none;'}
						= semantic_form_for(Company.new) do |f|
							= f.inputs do
								= f.input :name
	.column.user_data
	.column.permission_data
	.clear
:javascript
	$('.company.new').click(function() {
		$('#new_form form').submit();
	});
	$('.field.user').click(function() {
		uid = $(this).attr('data-value');
		var sf = $(this);
		$.ajax({
			async: true,
			url: '/users/' + uid + '/user_data',
			cache: false,
			success: function(data) {
				$('.column.user_data').html(data);
				$('.field.user').removeClass('selected');
				sf.addClass('selected');
			}
		});
		$.ajax({
			async: true,
			url: '/users/' + uid + '/user_perms',
			cache: false,
			success: function(data) {
				$('.column.permission_data').html(data);
			}
		});
	});

