%div.navigation
	.title= "HOMEBREW"
	.new_project= "+"
	- if @project && !@project.new_record?
		= render :partial => 'shared/project_dropdown'
		.nav_tabs
			.nav_tab{:class => (params[:action] == 'product_backlog' ? 'active' : '')}= "Product Backlog"
			.nav_tab{:class => (params[:action] == 'team' ? 'active' : '')}= link_to 'TEAM', team_project_url(@project)
			.nav_tab{:class => (params[:action] == 'sprints' ? 'active' : '')}= "Sprints"
			.nav_tab{:class => (params[:action] == 'sow' ? 'active' : '')}= "SOW"
	- else
		= render :partial => 'shared/project_dropdown'
	- if user_signed_in?
		.nav_user_menu
			.profile.nav_sub_menu= "Hi, #{current_user.username}"
			.users.nav_sub_menu= link_to "USERS", users_url
			.payables.nav_sub_menu= "PAYABLES"
			.receivables.nav_sub_menu= "RECEIVABLES"
			.logout.nav_sub_menu= link_to "logout", destroy_user_session_url
			.clear
	- else
		.nav_user_menu
			.login.nav_sub_menu= link_to "login", new_user_session_url
			.sign_up.nav_sub_menu= link_to 'sign up', new_registration_path('user')

