.sprint_navigation
	.sprint_tab{:class => "#{params[:action] == 'backlog' ? 'active' : ''} backlog"}
		= link_to "Backlog", backlog_project_url(project)
	- project.sprints.each do |sprint|
		.sprint_tab{:class => "#{(sprint == @sprint) ? 'active' : ''} #{(sprint.complete?) ? 'complete' : ''}"}
			= link_to "S#{sprint.number} #{sprint.display_percent_complete}", [project, sprint]
