.sprint_team
	.headers.row
		.field= "TEAM RESOURCED"
		.field= "USER STORIES"
		.field= "COMPLETE"
		- if permitted?(:show_allocations, sprint.project)
			.field= "APPROVED ALLOCATION"
			.field= "EST. ALLOCATION"
		- else
			.field= ""
			.field= ""
		.field= "SPRINT START"
		.field= "WEEKS"
		.field= "SPRINT END"
	.data.row
		.field= sprint.team_resourced
		.field= sprint.stories.count
		.field= sprint.display_percent_complete
		- if permitted?(:show_allocations, sprint.project)
			.field= "--"
			.field= "--"
		- else
			.field= ""
			.field= ""
		.field= best_in_place sprint, :start_date, :type => :date
		.field= sprint.display_duration
		.field= sprint.end_date.to_date
- if sprint.team_resourced > 0
	= render :partial => 'team_list', :locals => { :sprint => sprint }

