.action_buttons
	.button.own{:'data-action' => 'own'}
		= "Own"
	.button.approved{:'data-action' => 'approved'}
		= "Approved"
	.button.completed{:'data-action' => 'completed'}
		= "Completed"
	.button.rolled{:'data-action' => 'rolled'}
		= "Rolled"
	-#
		.button.waiting{:'data-action' => 'waiting'}
			= "Waiting"
		.button.open{:'data-action' => 'open'}
			= "Open"
		.button.ignore{:'data-action' => 'ignore'}
			= "Ignore"
		.button.delete{:'data-action' => 'delete'}
			= "Delete"
		.button.move{:'data-action' => 'move'}
			= "Move"
