.action_buttons.stickify
	.button.own{:'data-action' => 'own'}
		= "Own"
	- unless @project.nil?
		.assign_field
			.user_select
				= select_tag :user_id, options_from_collection_for_select(@project.users.uniq, :id, :full_name)
			.assign_button{:'data-action' => 'assign'}
				= "Assign"
	.task_status_field
		.status_select
			= select_tag :new_status, options_for_select(SubItem::STATUSES.map { |s| s.to_s.titleize })
		.set_status_button{:'data-action' => 'set_status'}
			= "Set Status"
	- unless @project.nil?
		.move_story_field
			.destination_select
				= select_tag :new_sprint_id, options_for_select(@project.phases.collect { |p| p.sprints }.flatten.select { |s| @sprint.nil? or s != @sprint }.map { |s| [s.full_name, s.id] })
			.move_story_button{:'data-action' => 'move'}
				= "Move"
		.deploy_field
			.deploy_select
				= select_tag :new_status, options_for_select(['Dev', 'Stage', 'Prod'])
			.deploy_button{:'data-action' => 'deploy'}
				= "Deploy"
	.button.delete{:'data-action' => 'delete'}
		= "Delete"

