.story_list.in_progress
	.title= "IN PROGRESS"
	.header
		.field.pull= "<"
		.field.check= "--"
		.field.status= "STATUS"
		.field.usid= "US ID"
		.field.value= "VALUE"
		.field.details= "USER STORY"
		.field.est_time= "EST. TIME"
		.field.tasks= "TASKS"
		.field.bugs= "BUGS"
		.field.act_time= "ACTUAL TIME"
		.field.created_by= "CREATED BY"
		.field.created_at= "DATE CREATED"
		.field.approved_by= "APPROVED BY"
		.field.approved_at= "APPROVED"
		.field.completed_at= "COMPLETED"
		.field.push= ">"
	.stories
		- stories.each do |story|
			.story{:id => "story_#{story.id}", :'data-project-id' => story.project.id}
				.field.pull= "<"
				.field.check= "--"
				.field.status= "--"
				.field.usid= story.display_number
				.field.value= "--"
				.field.details= best_in_place story, :description
				.field.est_time= story.sub_items.sum(:estimated_time)
				.field.tasks= "--"
				.field.bugs= "--"
				.field.act_time= "--"
				.field.created_by= story.owner.full_name
				.field.created_at= story.created_at.to_date
				.field.approved_by= "--"
				.field.approved_at= "--"
				.field.completed_at= "--"
				.field.push= ">"
			.tasks{:style => 'display: none;'}
				- if story.sub_items.count > 0
					.header
						.field.pull= "<"
						.field.check= "--"
						.field.status= "STATUS"
						.field.itemid= "ITEM ID"
						.field.type= "TYPE"
						.field.details= "DETAILS"
						.field.est_time= "EST. TIME"
						.field.owner= "OWNER"
						.field.role= "ROLE"
						.field.act_time= "ACTUAL TIME"
						.field.created_by= "CREATED BY"
						.field.created_at= "DATE CREATED"
						.field.approved_by= "APPROVED BY"
						.field.approved_at= "APPROVED"
						.field.completed_at= "COMPLETED"
						.field.push= ">"
					- story.sub_items.each do |item|
						.item{:id => "#{item.item_type.to_s.titleize}_#{item.id}", :'data-project-id' => item.story.project.id}
							.field.pull= "<"
							.field.check= "--"
							.field.status= "--"
							.field.usid= item.display_number
							.field.value= best_in_place item, :item_type, :type => :select, :collection => [ [ 'task', 'Task' ], [ 'bug', 'Bug' ] ]
							.field.details
								%pre= best_in_place item, :description, :type => :textarea
							.field.est_time= best_in_place item, :estimated_time
							.field.tasks= "--"
							.field.bugs= "--"
							.field.act_time= "--"
							.field.created_by= item.owner.full_name
							.field.created_at= item.created_at.to_date
							.field.approved_by= "--"
							.field.approved_at= "--"
							.field.completed_at= "--"
							.field.push= ">"
				.new_task
					.link
						= link_to 'New Task', story_sub_items_url(story), :method => :post
:javascript
	$('.story').click(function() {
		$(this).next('.tasks').toggle();
	});

