.story_list.in_progress
	.title= "IN PROGRESS"
	.header
		.field.pull= "<"
		.field.check{:'data-class' => 'story', :'data-id' => 'all'}= check_box_tag :sel
		.field.status= "STATUS"
		.field.usid
			%span.usid= "US ID"
			%span.taskid{:style => 'display: none;'}= "TASK ID"
		.field.value= "VALUE"
		.field.details= "USER STORY"
		.field.est_time= "EST. TIME"
		.field.tasks= "TASKS"
		.field.bugs= "BUGS"
		.field.act_time= "ACTUAL TIME"
		.field.created_by= "CREATED BY"
		.field.created_at= "DATE CREATED"
		.field.approved_by= "APPROVED BY"
		.field.approved_at= "APPROVED"
		.field.completed_at= "COMPLETED"
		.field.push= ">"
	.stories
		- stories.each do |story|
			.story{:id => "story_#{story.id}", :'data-project-id' => story.project.id, :class => "status_#{story.status}"}
				.field.pull= "<"
				.field.check{:'data-class' => 'story', :'data-id' => story.id}= check_box_tag :sel
				.field.status= story.display_status
				.field.usid= story.display_number
				.field.value= "--"
				.field.details= best_in_place story, :description
				.field.est_time= story.sub_items.sum(:estimated_time)
				.field.tasks= story.sub_items.tasks.count
				.field.bugs= story.sub_items.bugs.count
				.field.act_time= "--"
				.field.created_by= story.owner.full_name
				.field.created_at= story.created_at.to_date
				.field.approved_by= "--"
				.field.approved_at= "--"
				.field.completed_at= "--"
				.field.push= ">"
			.tasks
				- if story.sub_items.count > 0
					.header
						.field.pull= "<"
						.field.check{:'data-class' => 'sub_item', :'data-id' => 'all'}= check_box_tag :sel
						.field.status= "STATUS"
						.field.itemid= "ITEM ID"
						.field.type= "TYPE"
						.field.details= "DETAILS"
						.field.est_time= "EST. TIME"
						.field.owner= "OWNER"
						.field.role= "ROLE"
						.field.act_time= "ACTUAL TIME"
						.field.created_by= "CREATED BY"
						.field.created_at= "DATE CREATED"
						.field.approved_by= "APPROVED BY"
						.field.approved_at= "APPROVED"
						.field.completed_at= "COMPLETED"
						.field.push= ">"
					- story.sub_items.each do |item|
						.item{:id => "#{item.item_type.to_s.titleize}_#{item.id}", :'data-project-id' => item.story.project.id, :class => "status_#{item.status}"}
							.field.pull= "<"
							.field.check{:'data-class' => 'sub_item', :'data-id' => item.id}= check_box_tag :sel
							.field.status= best_in_place item, :status, :type => :select, :collection => possible_statuses(item).map {|s| [ s.to_s, display_status(s.to_s) ] }
							.field.usid
								%span.usid= item.display_number
								%span.taskid{:style => 'display: none;'}= item.id
							.field.value= best_in_place item, :item_type, :type => :select, :collection => [ [ 'task', 'Task' ], [ 'bug', 'Bug' ] ]
							.field.details
								%pre= best_in_place item, :description, :type => :textarea
							.field.est_time= best_in_place item, :estimated_time
							.field.tasks= "--"
							.field.bugs= "--"
							.field.act_time= "--"
							.field.created_by= item.owner.full_name
							.field.created_at= item.created_at.to_date
							.field.approved_by= "--"
							.field.approved_at= "--"
							.field.completed_at= "--"
							.field.push= ">"
				.new_task
					.link
						= link_to 'New Task', story_sub_items_url(story), :method => :post
:javascript
	$('.header .field.usid').click(function() {
		$('.field.usid span.usid').toggle();
		$('.field.usid span.taskid').toggle();
	});

	$('.check input[name="sel"]').click(function() {
		var ch = $(this).attr('checked');
		var cl = $(this).parent().attr('data-class');
		var id = $(this).parent().attr('data-id');
		if (cl == 'sub_item' && id == 'all') {
			$(this).closest('.tasks').find('.item .check input[name="sel"]').attr('checked', ch);
		} else if (cl == 'story' && id == 'all') {
			$('input[name="sel"]').attr('checked', ch);
		} else if (cl == 'story') {
			$(this).closest('.story').next('.tasks').find('.check input[name="sel"]').attr('checked', ch);
		}
	});
