%a{:name => "si_#{item.display_number}"}
.item{:id => "#{item.item_type.to_s.titleize}_#{item.id}", :'data-project-id' => item.story.project.id, :class => "status_#{item.status}"}
	.field.pull
	.field.check{:'data-class' => 'sub_item', :'data-id' => item.id}= check_box_tag :sel
	.field.status= best_in_place item, :status, :type => :select, :collection => possible_statuses(item).map {|s| [ s.to_s, display_status(s.to_s) ] }
	.field.usid
		%span.usid= item.display_number
		%span.taskid{:style => 'display: none;'}= item.id
	.field.value{:class => "type_#{item.item_type}"}= best_in_place item, :item_type, :type => :select, :collection => [ [ 'task', 'Task' ], [ 'bug', 'Bug' ] ]
	.field.details
		%pre= best_in_place_if ["open"].include?(item.status), item, :description, :type => :textarea
	.field.est_time= best_in_place_if !item.complete?, item, :estimated_time, :display_as => :display_estimated_time
	- if item.task_ownerships.count > 0
		.field.task_ownership
			- item.task_ownerships.each do |to|
				.to_row
					.sub_field.user
						= to.user.full_name
					.sub_field.role
						= "--"
					.sub_field.actual_time
						= best_in_place_if (to.user == current_user), to, :actual_time, :display_as => :display_actual_time
	- else
		.field.tasks= "--"
		.field.bugs= "--"
		.field.act_time= "--"
	.field.created_by= item.owner.full_name
	.field.created_at= item.created_at.to_date
	.field.approved_by= "--"
	.field.approved_at= "--"
	.field.completed_at= "--"
	.field.push
:javascript
	$('.check input[name="sel"]').click(function() {
		var ch = $(this).attr('checked') == 'checked';
		var cl = $(this).parent().attr('data-class');
		var id = $(this).parent().attr('data-id');
		if (cl == 'sub_item' && id == 'all') {
			$(this).closest('.tasks').find('.item .check input[name="sel"]').attr('checked', ch);
		} else if (cl == 'story' && id == 'all') {
			$('input[name="sel"]').attr('checked', ch);
		} else if (cl == 'story') {
			$(this).closest('.story').next('.tasks').find('.check input[name="sel"]').attr('checked', ch);
		}
		update_buttons();
	});

