%div.section.chart
	= high_chart('trans_chart', @trans_chart) do
		= "options.colors = ['#4572A7', '#89A54E', '#AA4643','#89A54E']"
%div.section#transactions_section
	%div.heading
		= "Transactions for '#{@account.name}'"
	%div.pre_new_link
		= link_to 'New Transaction', new_transaction_url
	%div.with_tags_form
		= form_tag with_tags_transactions_path, { :method => :post, :remote => true, :html => { :'data-type' => 'html', :id => 'with_tags_form' }}
	= will_paginate @transactions if @paginate
	= render :partial => 'transactions/table'
	= will_paginate @transactions if @paginate
	%div.footer
		= link_to 'New Transaction', new_transaction_url
