.keyboard_shortcuts
	.navigation
		.title= "Keyboard Shortcuts"
	%ul
		%li
			.shortcut
				.key= '<#>g'
				.description
					= 'go to story number'
			.example
				= '14g'
		%li
			.shortcut
				.key= 'u'
				.description
					= 'focus new user story input'
		%li
			.shortcut
				.key= 't'
				.description
					= 'focus new task input for current story'
		%li
			.shortcut
				.key= '<#>t'
				.description
					= 'focus new task input for story number'
			.example
				= '12t'
		%li
			.shortcut
				.key= 'w'
				.description
					= 'previous story'
		%li
			.shortcut
				.key= 's'
				.description
					= 'next story'
		%li
			.shortcut
				.key= 'a'
				.description
					= 'jump to first story'
		%li
			.shortcut
				.key= 'z'
				.description
					= 'jump to last story'
